[report]
exclude_lines =
    def __str__
    pragma: no cover
omit =
    */asgi.py
    */wsgi.py
    */migrations/*
    */admin.py
    */apps.py
    */__init__.py
    */tests.py
    */test*.py
    */manage.py
    */urls.py
    */factories.py
    */admin_utils.py
fail_under = 100
show_missing = True
skip_covered = True

[run]
source = .
branch = True 